.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 819px) {
    .form {
        grid-template-columns: none;
    }
}

.form__textbox {
    padding: 10px;
    margin: 1px solid rgb(220, 220, 220);
}

.form__button {
    background-color: teal;
    color: aliceblue;
    border: none;
    padding: 10px;
    transition: 0.3s;
}

.form__button:hover {
    background-color: rgb(0, 170, 170);
    transform: scale(1.05);
}

.form__button:active {
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
}